@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="content_text sans_text">
    <p>Gentile lettore,</p>
    <p>ti&nbsp;informiamo che il trattamento dei&nbsp;tuoi dati personali avverrà nel rispetto della vigente normativa in materia di privacy e sarà improntato ai principi di <strong>correttezza</strong>, <strong>liceità</strong>, <strong>trasparenza.</strong></p>
    <p>In ottemperanza a quanto previsto dall’articolo 13 del Regolamento europeo 2016/679 (GDPR),&nbsp;ti indichiamo di seguito le informazioni di carattere generale riguardo al trattamento dei dati personali effettuati tramite questo sito web.</p>
    <p>L’informativa si riferisce esclusivamente ai dati&nbsp;eventualmente inseriti nelle pagina del sito AttrOleo, senza estendersi agli altri siti web eventualmente raggiunti dall’utente tramite i link presenti sul sito stesso.</p>
    <p><strong>Dati di contatto del Titolare e del Data Protection Officer (DPO)</strong></p>
    <p>Il titolare del trattamento è la Arcelor Mittal Italia</p>
    <p>Il titolare, in conformità al GDPR, ha designato il DPO, che potrai contattare per richiedere spiegazioni su questa Informativa o esercitare i tuoi diritti, come indicato di seguito nel testo.</p>
    <p>Per contattare il DPO puoi utilizzare l’indirizzo e-mail: <a href="mailto:cpacentrale.taranto@arcelormittal.com">cpacentrale.taranto@arcelormittal.com</a></p>
    <p>indicando i&nbsp;dati per poterti ricontattare.</p>
    <p><strong>Tipologia di dati trattati</strong></p>
    <p><strong>Dati di navigazione</strong></p>
    <p>
        I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet.<br>
        In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.<br>
        Si tratta di informazioni che non sono raccolte per essere associate a interessati identificati, in quanto i dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull’uso del sito e per controllarne il corretto funzionamento, ma per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permetterne di identificare gli utenti.<br>
        Si segnala che i dati potrebbero essere utilizzati dalle Autorità competenti per l’accertamento di responsabilità in caso di ipotetici reati informatici.
    </p>
    <p>
        <strong>Cookies</strong><br>
        Il sito fa uso di cookie per migliorare l’esperienza di navigazione dell’utente.</a>.
    </p>
    <p>
        <strong>Dati forniti volontariamente dall’utente</strong><br>
        Per accedere ad alcuni servizi riservati agli utenti, è necessario registrarsi&nbsp;e inserire i propri dati.<br>
        Il conferimento di alcuni dati è necessario al fine di autenticare e verificare la legittimazione all’accesso, nei diversi livelli delle aree riservate, ai soggetti che vi accedono.
    </p>
    <p>
        In nessun caso verranno invece trattati dati sensibili o giudiziari.<br>
        L’invio facoltativo, esplicito e volontario di e-mail agli indirizzi indicati su questo sito comporta la successiva acquisizione dell’indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti. Specifiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del sito predisposte per particolari servizi a richiesta.
    </p>
    <p>La base giuridica che legittima il trattamento di tali dati è l’esecuzione della tua&nbsp;espressa richiesta di ricevere il servizio di newsletter.</p>
    <p><strong>Finalità</strong></p>
    <p>
        I dati da&nbsp;te forniti potranno essere trattati per:<br>
        1)&nbsp;lo svolgimento delle operazioni strettamente necessarie per erogare i servizi eventualmente richiesti, tra&nbsp;i quali citiamo anche la&nbsp;navigazione tra le pagine del sito;<br>
        2) la prestazione di servizi tecnologici (mailing-list, newsletter, ecc…), anche da parte di terzi specificamente autorizzati;<br>
        3) attività imposte da leggi, regolamenti o provvedimenti per l’esecuzione di ordini commerciali;<br>
        4)&nbsp;elaborazioni statistiche su dati aggregati in relazione alle prestazioni del sito;<br>
        5) valutazioni riguardo all’utilizzo del sito da parte degli utenti;<br>
        6) ottimizzare l’offerta commerciale anche mediante analisi focalizzate e selezionate;<br>
        7) inviare pubblicità e/o proposte commerciali in base alla profilazione dei tuoi dati, e proposte commerciali&nbsp;relative agli&nbsp;interessi&nbsp;che hai&nbsp;manifestato accedendo alle pagine ed utilizzando i servizi disponibili su questo sito.
    </p>
    <p>Nelle pagine del sito che raccolgono esplicitamente&nbsp;i tuoi dati personali, troverai,&nbsp;ove necessario, ulteriori specifiche informative sulla privacy, nonché i metodi per l’acquisizione del tuo consenso nei casi in cui il titolare ricorre a tale base giuridica di trattamento.</p>
    <p><strong>Base giuridica</strong></p>
    <p>Il trattamento dei tuoi dati personali verrà effettuato sulla base di una o più delle condizioni che seguono. I trattamenti effettuati per le finalità di cui sopra, che riguardano:</p>
    <p><strong>punto 1</strong> e <strong>punto 2</strong>, hanno come base giuridica la necessità di dare esecuzione alle tue espresse richieste di ricevere un servizio direttamente disponibile tramite il sito: si tratta dunque di conferimento di dati strettamente necessari e connessi ad una fase pre-contrattuale e/o contrattuale ovvero funzionale a dare riscontro ad una tua specifica richiesta; come tali, i dati di volta in volta raccolti sono obbligatori e, qualora non intendi fornirli, non sarà possibile erogare il servizio o dare risposta a quanto da&nbsp;te richiesto;</p>
    <p><strong>punto 3</strong>, avranno come base giuridica la necessità di rispettare un obbligo di legge per determinati servizi erogati tramite il sito e come tali questi dati e relativi trattamenti sono obbligatori;</p>
    <p><strong>punto 4</strong>, trattandosi di dati anonimizzati, ossia dati dai quali non risulta possibile re-identificare, anche indirettamente, una persona fisica, tali dati non sono più dati personali, pertanto i relativi&nbsp;trattamenti sono sottratti alla applicazione della normativa privacy e non risulta necessaria una particolare base giuridica;</p>
    <p><strong>punti 5, 6 e 7</strong>, avranno come base giuridica il tuo consenso informato e libero, che ti sarà richiesto in apposite pagine del sito e preceduto da specifica nostra informativa o tramite cookie. In tal caso il conferimento dei dati è assolutamente libero, ed in assenza del tuo consenso, i dati non saranno in alcun modo raccolti ed utilizzati per tali finalità.</p>
    <p>Potrai revocare il tuo consenso in qualunque momento ed a partire dalla revoca i dati non saranno ulteriormente trattati per tali finalità. La revoca del consenso non ha effetti retroattivi sui dati trattati prima della revoca stessa.</p>
    <p>
        Qualora tu abbia un’età inferiore ai 16 anni, per il trattamento dei tuoi dati per queste finalità sarà necessario raccogliere l’autorizzazione da parte del titolare della potestà genitoriale nei&nbsp;tuoi confronti.<br>
        Laddove il titolare possa avvalersi di altra base giuridica (legittimo interesse, pubblico interesse,…),&nbsp;ti sarà fornita apposita e specifica Informativa.
    </p>
    <p><strong>Modalità di trattamento, misure di sicurezza e tempi di conservazione</strong></p>
    <p>Tutti i dati verranno trattati in formato prevalentemente elettronico.&nbsp;I dati personali nonché ogni altra eventuale informazione associabile, direttamente od indirettamente, ad un utente determinato, sono raccolti e trattati applicando le misure di sicurezza tecniche e organizzative tali da garantire un livello di sicurezza adeguato al rischio, tenendo conto dello stato dell’arte e dei costi di attuazione, o, ove previste, misure di sicurezza prescritte da apposita normativa quale a titolo di esempio non esaustivo: misure previste da applicabili provvedimenti emessi dell’Autorità Garante per la protezione dati personali o da normative e regolamenti specifici per il settore dell’Information Technology e saranno accessibili solo al personale specificamente autorizzato.</p>
    <p>Ai sensi dell’art. 33 del GDPR sei invitato a segnalare al titolare eventuali circostanze o eventi dai quali possa discendere una potenziale “violazione dei dati personali” al fine di consentirci una immediata valutazione e l’adozione di eventuali azioni volte a contrastare tale evento, inviando una comunicazione all’indirizzo <a href="mailto:cpacentrale.taranto@arcelormittal.com">cpacentrale.taranto@arcelormittal.com</a></p>
    <p>Per violazione dei dati personali si intende “la violazione di sicurezza che comporta accidentalmente o in modo illecito la distruzione, la perdita, la modifica, la divulgazione non autorizzata o l’accesso ai dati personali trasmessi, conservati o comunque trattati”.</p>
    <p>
        Le misure adottate dal titolare non esimono l’utente/cliente dal prestare la necessaria attenzione all’utilizzo, ove richiesto, di password e/o PIN di complessità adeguata, che dovrà aggiornare periodicamente, nonché custodire con attenzione e rendere inaccessibili ad altri, al fine di evitarne usi impropri e non autorizzati.<br>
        I dati personali trattati verranno conservati in una forma che consenta l’identificazione degli interessati per un arco di tempo non superiore al conseguimento delle finalità per le quali sono trattati, fatta salva la necessità di conservarli per un periodo maggiore a seguito di richieste da parte delle Autorità competenti in materia di prevenzione e prosecuzione di reati o, comunque per far valere o difendere un diritto in sede giudiziaria.
    </p>
    <p>
        <strong>Categorie di destinatari dei dati personali</strong><br>
        I dati personali saranno trattati dal personale specificamente autorizzato da parte del titolare nonché da soggetti terzi, anche eventualmente stabiliti in paesi esteri rispetto l’Unione Europea, solo qualora ciò sia necessario per esigenze di operatività e manutenzione del sito e dei servizi messi a disposizione tramite il sito stesso, fatti salvi gli eventuali obblighi previsti da disposizioni di legge.<br>
        In nessun caso essi saranno invece diffusi al pubblico.
    </p>
    <p>Il titolare provvede a nominare quali responsabili del trattamento dei dati personali le società terze che svolgono in tutto o in parte le attività in oggetto esclusivamente per conto del titolare.</p>
    <p>Nel caso di coinvolgimento di soggetti terzi stabiliti in paesi esteri che non fanno parte dell’Unione Europea, per il relativo trasferimento di dati all’estero sono adottate le garanzie appropriate corrispondenti alle decisioni di adeguatezza emesse dalla Commissione Europea e/o dall’Autorità Garante nazionale per la protezione dei dati personali, di volta in volta adeguate al caso.</p>
    <p>Ulteriori informazioni riguardanti i casi di eventuali trasferimenti di dati verso paesi esteri non facenti parte dell’Unione Europea e le relative garanzie adottate, nonché informazioni riguardanti le società nominate responsabili di trattamento dati personali, possono essere richieste al DPO.</p>
    <p>I dati personali forniti dagli utenti che inoltrano richieste di invio di materiale informativo (documentazione varia, relazioni, risposte a quesiti, pubblicazioni, ecc.) sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta e sono comunicati a terzi nel solo caso in cui ciò sia a tal fine necessario (a solo titolo di esempio: servizio di spedizione delle pubblicazioni).</p>
    <p>
        <strong>Diritti degli interessati</strong><br>
        In relazione ai trattamenti dei tuoi dati personali svolti tramite questo sito, in ogni momento, in qualità di interessato, potrai esercitare i diritti previsti dal GDPR.
    </p>
    <p>In particolare potrai:</p>
    <p>– accedere ai tuoi dati personali, ottenendo evidenza delle finalità perseguite da parte del titolare, delle categorie di dati coinvolti, dei destinatari a cui gli stessi possono essere comunicati, del periodo di conservazione applicabile, dell’esistenza di processi decisionali automatizzati, compresa la profilazione, e, almeno in tali casi, informazioni significative sulla logica utilizzata, nonché l’importanza e le conseguenze possibili per l’interessato, ove non già indicato nel testo di questa Informativa;</p>
    <p>– ottenere senza ritardo la rettifica dei dati personali inesatti che&nbsp;ti riguardano;</p>
    <p>– ottenere, nei casi previsti dalla legge, la cancellazione dei tuoi dati;</p>
    <p>– ottenere la limitazione del trattamento o di opporti allo stesso, quando ammesso in base alle previsioni di legge applicabili al caso specifico;</p>
    <p>– nei casi previsti dalla legge, richiedere la portabilità dei dati che hai fornito al titolare, vale a dire di riceverli in un formato strutturato, di uso comune e leggibile da dispositivo automatico, ed anche richiedere di trasmettere tali dati ad un altro titolare, se tecnicamente fattibile;</p>
    <p>– ove lo ritieni opportuno, proporre reclamo all’autorità di controllo.</p>
    <p>Per i trattamenti di dati personali per i quali la base giuridica è il consenso, potrai sempre revocarlo ed in particolare esercitare il diritto di opposizione al marketing diretto. Per esercitare tali diritti, basterà contattare il DPO facendo riferimento ai dati di contatto riportati all’inizio di questa Informativa.</p>
    <p>Per avere ulteriori informazioni in ordine ai tuoi diritti ed alla disciplina sulla privacy in generale ti invitiamo a visitare il sito web dell’Autorità Garante per la protezione dei dati personali, all’indirizzo&nbsp;<a href="http://www.garanteprivacy.it/">http://www.garanteprivacy.it/</a></p>
    <p>Informativa pubblicata in data: 01/01/2020</p>
</div>